<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true">
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
    <log type="coverage-clover" target=".coverage/php-guard.xml" />
  </logging>
  <testsuites>
    <testsuite name="Guard">
      <directory suffix="Test.php">src/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>src/Guard/</directory>
      <exclude>
        <directory>src/Guard/Exception/</directory>
        <directory>src/Guard/Tests/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
